<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Basics</h1>
    <h4>Resource</h4>
    <p>Resource es la manera en que podemos interactuar entre el cliente y el servidor.</p>
    <p>Con Resource se puede hacer la definicion de las rutas y a la hora de realizar los CRUD.</p>
    <h4>Restfull Routing</h4>
    <p>RESTful Routing es un standard para crear las rutas de nuestra aplicacion que sea eficiente y facil de entender.</p>
    <p>RESTful Routing tiene 4 acciones basicas.</p>
    <p>Las 4 acciones basicas de RESTful Routing son Crear(Create), Leer(Read), Actualizar(Update) y Borrar(Delete).</p>
    <p>Los verbos HTTP que usan son: Crear = POST, Leer = GET, Actualizar = PATCH y Borrar = Delete.</p>
    <a href="/">Volver Inicio</a>
</body>
</html>
