<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Git</h1>
    <h4>Inicializacion de un repositorio de git nuevo en una aplicacion existente</h4>
    <p>Se inicializa con el comando "git init".</p>
    <h4>Creación de un branch nuevo</h4>
    <p>Se crea con el comando "git checkout -b 'nombre branch' ".</p>
    <h4>Realizar un commit incluyendo todos los cambios actuales</h4>
    <p>Se incluyen usando el comando "git add -A".</p>
    <h4>Como enviar el codigo al repositorio remoto</h4>
    <p>Se envia con el comando "git remote add 'url del repositorio remoto' ".</p>
    <h4>Diferencia entre un reset y revert</h4>
    <p>Git reset nos devuelve a un commit anterior deseado y revert deshace los commits hasta el commit que queramos y crea uno nuevo.</p>
    <h4>Ademas de cambiar de ramas, para que mas se puede utilizar el comando git checkout</h4>
    <p>Para volver a un commit especifico teniendo el id del commit de la siguiente manera "git checkout 'id del commit' "</p>
    <h4>Como puede ver los commits que se han realizado en el proyecto</h4>
    <p>Usando el comando "git log"</p>
    <h4>He modificado dos archivos y quiero hacer un commit por cada uno de ellos, cómo lo puedo hacer?</h4>
    <p>Añadiendolos de la siguiente forma: </p>
    <p>git add archivo1.txt</p>
    <p>git commit -m "agregando archivo1.txt"</p>
    <p>git add archivo2.txt</p>
    <p>git commit -m "agregando archivo2.txt"</p>
    <a href="/static_pages/home">Volver Inicio</a>
</body>
</html>