<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ruby</h1>
    <h4>Interpolacion de String</h4>
    <p>texto1 = "Hola"</p>
    <p>texto2 = "Mundo"</p>
    <p>puts texto1 + "" + texto2</p>
    <p>#Hola Mundo</p>
    <h4>Declarar Array</h4>
    <p>array = [1,2,3]</p>
    <p>array.push(4) || array << 4</p>
    <p>#[1,2,3,4]</p>
    <h4>Declarar Hash</h4>
    <p>persona = {"nombre" => "Santiago", "apellido" => "Guacheta"}</p>
    <h4>Recorrer Hash</h4>
    <p>nombre.each do |llave, valor|</p>
    <p>puts "#{llave} #{valor}"</p>
    <p>end</p>
    <p>#nombre Santiago apellido Guacheta</p>
    <h4>Block en Ruby</h4>
    <p>Un block en Ruby es una parte de codigo que va entre {} o con palabras do end</p>
    <p>5 times do</p>
    <p>puts 'Hola Mundo'</p>
    <p>end</p>
    <p>5.times { puts 'Hola Mundo' }</p>
    <h4>Convencion nombre variables</h4>
    <p>Para las clases y modulos se usa CamelCase y para archivos, variables y metodos se usa snake_case.</p>
    <h4>Attr_reader, attr_writer y attr_accesor que son? Para que sirven?</h4>
    <p>Son accesos para dejar clara la intecion a la hora de escribir la clase y facilitar la escritura de clases.</p>
    
    <a href="/static_pages/home">Volver Inicio</a>
</body>
</html>
